* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    color: #000000;
}


html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
}
